<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  span {
    display: block;
    margin-bottom: 10px;
  }

  img {
    display: block;
    max-width: 100%;
    margin-bottom: 30px
  }
</style>
<div>
  <img src="http://i.imgur.com/oUAKMC5.png" alt="">
  <span>Oi, {{name}}</span>
  <br>

  <span>Você solicitou a alteração de sua senha.</span>
  <span>Para realizar a troca, clique no link, <a href={{link}}>{{link}}</a></span>
  <br>

  <span>
    Caso não tenha sido você queem solicitou a alteração da senha, basta ignorar este email
  </span>

  <h3>Equipe | <strong>Rentx</strong></h3>
</div>